In [5]:
import numpy as np


print(np.arange(1,2,0.3)) #[1.  1.3 1.6 1.9]

print(list(range(1,2,0.3))) # range는 sep(간격)에서 정수형 값만을 받는다.

[1.  1.3 1.6 1.9]

TypeError: 'float' object cannot be interpreted as an integer

In [14]:
test_arr = np.array( np.arange(30).reshape(5,6))
"""
array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])
"""

test_arr[:,::3]
"""
array([[ 0,  3],
       [ 6,  9],
       [12, 15],
       [18, 21],
       [24, 27]])
""" # col을 3칸씩 띄어서 가져오기

test_arr[::-1,::3]
"""
array([[24, 27],
       [18, 21],
       [12, 15],
       [ 6,  9],
       [ 0,  3]])
""" # 음수는 역수를 의미함.

array([[24, 27],
       [18, 21],
       [12, 15],
       [ 6,  9],
       [ 0,  3]])

In [ ]:
np.empty_like

In [13]:
test_arr

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

In [16]:
np.empty((2,2))

array([[1. , 1.3],
       [1.6, 1.9]])

In [38]:
t = np.array([10,20,4,5])
np.any(t>10)
np.all(t>10)

False

In [39]:
import numpy as np

t = np.array([10,20,4,5])

t.max() # 20
np.max(t) # 20

t.argmax() # 1
np.argmax(t) # 1

t.argmin() # 2
np.argmin(t) # 2

2

In [ ]:
np.isinfin

In [40]:
import numpy as np
t = np.array([np.Inf, np.NaN, 1, 123, 10])
np.any( np.isinf(t) )

True

<br></br><br></br><br></br>

__라디안 구하기__

In [60]:
import numpy as np
v1 = [ 0, 1 ]
v2 = [ 0, 2 ]

def get_norm(v):
    return np.sqrt(sum(abs(v)**2))

def get_angle(v1, v2):
    v1 = np.array(v1)
    v2 = np.array(v2)
    v = np.inner(v1, v2) / ( get_norm(v1) * get_norm(v2) )
    print(v)
    return np.arccos(v)

get_angle(v1,v2)

1.0

0.0

In [ ]:
     x = [0, 1]x=[0,1] 
     y = [0, 2]y=[0,2]

In [69]:
m1 = np.ones( (3,5) )
m2 = np.arange(25).reshape(5,5)
np.inner(m1,m2)

array([[ 10.,  35.,  60.,  85., 110.],
       [ 10.,  35.,  60.,  85., 110.],
       [ 10.,  35.,  60.,  85., 110.]])

In [70]:
print(m1)
print(m2)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

__역행렬 계산__

In [74]:
X=np.array([[1,0,1],
           [0,1,0],
           [1,1,0]])
np.linalg.inv(X)

array([[ 0., -1.,  1.],
       [ 0.,  1.,  0.],
       [ 1.,  1., -1.]])

__Moore penrose 역행렬__

In [72]:
X = np.array([[1,0,1],
             [0,1,0]])
np.linalg.pinv(X)

array([[0.5, 0. ],
       [0. , 1. ],
       [0.5, 0. ]])